{% extends 'base.html' %}
{% block title %}
 Earn
{% endblock %}

{% block content %}


<table class="table table-hover table-dark">
        <thead>
            <tr>
                <!-- Your Columns HERE -->
              <th scope="col">currency</th>
              <th scope="col">Cryptocurrency</th>
              <th scope="col">Stock</th>


            </tr>

        </thead>
          {% for boxs in box%}
        <tr>

            <td>{{boxs.Currency}}</td>
            <td>{{boxs.Cryptocurrency}}</td>
            <td>{{boxs.Stock}}</td>


        </tr>
        <tbody>
        {% endfor %}
            <!-- Your rows inside the table HERE: -->

        </tbody>
    </table>




















{% endblock %}